.header {
  &__row {
    &_upper {
      padding-block: 1rem;
    }
    &_middle {
      padding-block: 1.25rem;
    }
    &_bottom {
      padding-block: 1.875rem;
    }
  }

  &__menu-btn {
    display: none;
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2.5rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  &__hr {
    display: none;
  }
}

@media (max-width: $md3+px) {
  .header {
    &__title {
      display: none;
    }
  }
}

@media (max-width: $md4+px) {
  .header {
    &__row {
      &_middle {
        padding-block: 2rem;
      }
    }
    &__menu-btn {
      display: block;
      height: 2.5rem;
      width: 2.5rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 15;
    }
    &__menu {
      display: flex;
      justify-content: end;
      & > .nav-menu {
        justify-content: start;
        transition: 0.5s right ease-in-out;
        position: fixed;
        width: 67%;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: -67%;
        z-index: 10;
        background-color: $gray;
        text-transform: uppercase;
        padding: 20vh 3rem;
        flex-direction: column;
        gap: 3rem;
      }
    }
    &__main {
      justify-items: center;
      gap: 1.5rem;
      grid-template-columns: 1fr;
    }
    &__title {
      display: block;
    }
    &__contacts {
      flex-direction: column;
      gap: 1.5rem;
    }
    &__hr {
      display: block;
      margin: 0;
      color: $gray;
      border: 1px solid $gray;
    }
  }
}
