.header {
  &__row {
    &_upper {
      padding-block: 1rem;
    }
    &_middle {
      padding-block: 1.25rem;
    }
    &_bottom {
      padding-block: 1.875rem;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2.5rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  &__hr {
    display: none;
  }
}

@media (max-width: $md3+px) {
  .header {
    &__title {
      display: none;
    }
  }
}

@media (max-width: $md4+px) {
  .header {
    &__row {
      &_middle {
        padding-block: 2rem;
      }
    }
    &__main {
      justify-items: center;
      gap: 1.5rem;
      grid-template-columns: 1fr;
    }
    &__title {
      display: block;
    }
    &__contacts {
      flex-direction: column;
      gap: 1.5rem;
    }
    &__hr {
      display: block;
      margin: 0;
      color: $gray;
      border: 1px solid $gray;
    }
  }
}
