@import '../base/variables';

.intro {
  overflow: hidden;
  &__grid {
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
  }
  &__block {
    align-self: center;
    & > *:not(:first-child) {
      margin-top: 3rem;
    }
  }
  &__description {
    max-width: 40ch;
  }
  &__btn {
    position: relative;
    z-index: 5;
  }
  &__image {
    justify-self: center;
    position: relative;
    height: 100%;
    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      aspect-ratio: 1;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.3s ease-in-out;
    }
    &::before {
      background-color: rgba(255, 255, 255, 0.4);
      height: 116%;
    }
    &::after {
      background-color: rgba(255, 255, 255, 0.3);
      height: 148%;
    }
    &:hover::after {
      height: 155%;
    }
    & img {
      position: relative;
      z-index: 5;
    }
  }
}

@media (max-width: $md1+px) {
  .intro {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: $md3+px) {
  .intro {
    &__grid {
      padding-block: 5rem;
      grid-template-columns: 1fr;
      justify-items: center;
      justify-content: center;
    }
    &__block {
      text-align: center;
      & > *:not(:first-child) {
        margin-top: 2rem;
      }
    }
    &__image {
      width: 70%;
    }
  }
}

@media (max-width: $md4+px) {
  .intro {
    .fs90 {
      font-size: 2.5rem;
    }
  }
}
